/* Header */
.header {
    height: 80px;
    background-color: rgb(169, 7, 102);
    color: white;
    border: 2px dashed black;
    text-align: center;
    font-size: 10pt;
}

/* Content */
.content {
    padding: 10px 0;
}

/* Form Layout */
.regForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regForm fieldset {
    border: 2px solid black;
    padding: 10px;
}

/* Inputs */
.regForm form input {
    border: 2px solid rgb(169, 15, 89);
    border-radius: 5px;
    box-shadow: 2px 4px 3px black;
    height: 30px;
}

textarea {
    resize: none;
    border: 2px solid rgb(174, 18, 112);
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    height: 40px;
}

.regForm form input:hover {
    background-color: rgb(240, 35, 161);
    color: white;
}

.regForm form label:hover {
    border: 2px solid black;
    background-color: rgb(189, 9, 129);
    color: white;
}

/* Footer */
.footer {
    height: 40px;
    background-color: rgb(171, 7, 94);
    color: white;
    border: 2px solid black;
    text-align: center;
    line-height: 30px;
}

